workflowsw93FM0cGWtLm3iZz.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T05:20:23.719Z",
  "id": "w93FM0cGWtLm3iZz",
  "isArchived": false,
  "meta": null,
  "name": "文生图（banana）",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $json.output }}\"\n        }\n      ]\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        16
      ],
      "id": "ee86722e-d31f-4c73-8810-0167576d5b97",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base",
        "options": {
          "fileName": "={{ $json.name }}.png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1648,
        16
      ],
      "id": "822bdec7-2881-45a4-b2a3-d6673aa21468",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1105fbcd-2732-427a-af96-8102d1d4ef91",
              "name": "base",
              "value": "={{ $json.choices[0].message.images[0].image_url.url.split(\",\")[1] }}",
              "type": "string"
            },
            {
              "id": "0a8c6ab4-a596-4eb5-a681-4a0a52c46863",
              "name": "mime",
              "value": "={{ $json.choices[0].message.images[0].image_url.url.match(/^data:([^;]+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "39873dde-90e0-4868-91f3-cdc1762ec64f",
              "name": "data",
              "value": "={{ $json.choices[0].message.images[0].image_url.url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        16
      ],
      "id": "3579b635-9eb1-48be-b9c3-6e4180d4d988",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "9ff1dc34-f2e3-482f-8a29-e2904e8f1130",
      "name": "When chat message received",
      "webhookId": "91db52f1-f8e6-4d36-96f8-a21b3e276f9e"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./n8ndata/{{ $('Loop Over Items').item.json.output }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1824,
        16
      ],
      "id": "0595bbe7-ddcb-4dc7-9026-f82b42f70641",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# 任务\n我需要你为我生成单词闪卡，当用户提供单词时需要你根据单词输出对应的图像描绘提示词\n\n## 输出要求\n风格为卡通风格，上半部分为该单词的描述，下半部分的背景默认选择纯白色，下半部分还有文字内容单词和一句英语短语。\n\n## 输出示例\n风格:卡通风格，上半部分:卡通小船在蓝色湖面上划行，船上有笑脸划桨的小兔子，下半部分:背景:纯白色，文字:boat We row a boat on the lake.\n\n## 限制\n- 按照用户的输入根据要求和示例进行输出，不得输出其他无关的内容\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1008,
        16
      ],
      "id": "b32a3e92-2141-4c01-95e2-b45c0e403ea2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1008,
        224
      ],
      "id": "28d955f1-7c56-4827-928b-956d5295c720",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output, o",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "b9c25842-286f-4d08-b372-d178bd262c64",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        0
      ],
      "id": "a84b7083-61c9-4c13-8f7d-761757d40932",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "根据用户提供的主题输出要求数量的英语单词"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "e459a95b-d68b-43ac-9d20-80cd4c5231b4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        192,
        208
      ],
      "id": "09fe948b-5b2c-423e-9541-0ffbd02b8c01",
      "name": "DeepSeek Chat Model1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  \"Apple\",\n  \"Banana\",\n  \"Orange\"\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "077a0069-e35d-4bca-a458-60dd15f9fee1",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-04T05:20:23.726Z",
      "updatedAt": "2025-09-04T05:20:23.726Z",
      "role": "workflow:owner",
      "workflowId": "w93FM0cGWtLm3iZz",
      "projectId": "VqrcM1dcqhGnCvdT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T05:20:30.000Z",
  "versionId": "69c12404-9492-4eb2-865c-f07b1595aa5d"
}